<div class="container">

  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src='http://www.lider.cl/catalogo/images/catalogo_no_photo.jpg' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.description}}</h5>
        <p class="card-text">Marca {{item.brand}}</p>
        <p class="card-text"><small class="text-muted">precio {{item.price | currency:'CLP' }}</small></p>
        <p class="card-text"><small class="text-muted">Cantidad seleccionados {{ selectedCount }}</small></p>
        <div class="row buttons-container">
          <div class="col-md-12">
              <button  type="button text-center" (click)="addProduct()" class="btn btn-primary margin-button">ADD al carrito</button> 
              <button type="button text-center" class="btn btn-info margin-button">Comprar</button>
          </div>
          
      </div>
      </div>
    </div>
  </div>
  </div>